/*
*	BLOCK STYLES
*/

a.skip-block, .skip-block {
	display:block;
	width:2em; 
	height:1px;
	text-decoration:none;
}
.sideblock .skip-block {
	height:4px;
}
.skip-block-to {
	font-size:1px;
}

.sideblock li .icon img {
	width:16px;
	height:16px;
}

.sideblock img.resize,
.breadcrumb img.resize {
	width: 0.8em;
	height: 0.9em;
}

.sideblock .searchform img.resize {
	width: 1em;
	height: 1.1em;
}

ul.list, ul.list li, ol.list, ol.list li {
	list-style-type:none;
	padding:0;
	margin:0;
	text-indent:0;
} 

.sideblock .content {
	border-color: map-get($color, border);
	background-color: map-get($color, background--alt);
}

.sideblock .content h3,
.sideblock .content h2 {
	text-align: left;
	font-size:1.0em;
}

.sideblock .content h2 {
	margin:1.5em 0 0;
	padding:0;
}

.sideblock {
	margin-bottom:1em;
	width: 100%;
}

.sideblock .header {
	border-color: map-get($color, border);
}

.sideblock .header, .sideblock h2.header {
	text-align: left;
	margin:0;
	padding:4px;
	padding-top:0;
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
	font-size:0.9em;
 	font-weight: bold;
}
.sideblock h2 {
	margin:0;
	padding:0;
}

.sideblock .header .hide-show {
	float:right;
}

.sideblock .header .hide-show img.hide-show-image {
	height:11px;
	width:11px;
	margin-top:0.25em;
}

.sideblock .header .commands {
	margin-top: 0.3em;
	clear: both;
	height: 16px;
}

.sideblock .header .commands a {
	margin: 0px 2px;
}

.sideblock .content {
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	font-size:0.9em;
 	line-height:1.2em;
}

.sideblock a {
	line-height:1.2em;
}

.sideblock .content hr {
	height:1px;
	margin-top:4px;
	margin-bottom:4px;
	border:none;
	border-top:1px solid;
	border-top-color: map-get($color, border--hr);
}

#left-column .hidden .header,
#right-column .hidden .header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: map-get($color, border);
}

#left-column .hidden .content,
#right-column .hidden .content {
	display: none;
}

.sideblock .list {
	width: 100%;
}

.sideblock .list .c0{
	padding: 2px;
}

.sideblock .footer {
	margin-bottom: 4px;
	text-align:center;
	font-size:0.9em;
}

.sideblock .header .icon.hide,
.sideblock .header .icon.edit {
	margin-right: 6px;
}

.sideblock .content .head {
	margin-top: 10px;
}

.sideblock .head,
.sideblock .info,
.sideblock .event {
 font-size: 0.9em;
}

.sideblock .date {
	font-style: italic;
}

.sideblock .header .commands {
	font-size:0.9em;
}

.sideblock .content .message {
	font-size:0.9em;
}

.sideblock .icon {
	display: block;
	float: left;
	margin-right: 0.3em;
}

.sideblock .list li {
	clear: left;
}

.blockconfigtable {
	margin-top: 0;
	background-color: map-get($color, background);
	border-left:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color: map-get($color, border);
}

.block_site_main_menu .footer select {
	font-size: 0.8em;
}

.blockconfiginstancecontent .tabs {
	margin-bottom: 0px;
}

.block_online_users .listentry {
	padding-top:5px;
	text-align:left;
	font-size:0.75em
}

.sideblock .header .hide-show img.hide-show-image {
	//background: url('../../pix/t/switch_minus.gif') no-repeat bottom;
}

.sideblock.hidden .header .hide-show img.hide-show-image {
	//background: url('../../pix/t/switch_plus.gif') no-repeat bottom;
}