/*
*	DOC STYLES
*/


body#doc-contents h1 {
	margin: 1em 0px 0px 0px;
	font-size: 0.9em;
}

body#doc-contents ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 90%;
	font-size: 0.8em;
}