/*
*	GRADES STYLES
*/

body#grade-index .grades {
	border-width:1px;
	border-style:solid;
	border-collapse: separate;
}

body#grade-index .grades td {
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-collapse: collapse;
}

body#grade-index .grades .header {
	vertical-align: top;
	font-weight: bold;
	font-size: 0.7em;
}

body#grade-index .grades .points,
body#grade-index .grades .percent,
body#grade-index .grades .weighted {
	text-align: right;
}

.backup-form-instances {
	margin:0px 20px 0px 20px;
}
.restore-form-instances {
	margin:0px 20px 0px 20px;
}




body#grade-index .grades {
	border-color:black;
}

body#grade-index .grades td {
	border-color:#e0e0e0;
}

body#grade-index .grades .r0 {
	background-color: #ffffff;
}

body#grade-index .grades .r1 {
	background-color: #f0f0f0;
}