/*
*	LOGS STYLES
*/

.logtable td,
.logtable th {
	padding-left: 10px;
	padding-right: 10px;
}

.logtable th {
	text-align:left;
}

.logtable td {
	font-size: 0.8em;
}

.logtable th {
	font-size: 0.9em;
}

.logtable .r1 {
	background-color:#EEEEEE;
}