/*
*	MYMOODLE STYLES
*/

.my .courseboxcontent .overview .info {
	margin-left:20px;
}

.my .courseboxcontent .overview {
	margin-bottom:10px;
}

.my .courseboxcontent .overview .info {
	font-size:0.7em;
}