/*
*	QUESTION STYLES
*/

.que {
	width: 90%;
	text-align: left;
	margin: 10px auto 15px auto;
	border: 1px solid;
	clear: both;
}

.que .info {
	float: left;
	margin: 5px;
	width: 8%;
}

.que .grade {
	margin-top: 0.5em;
	font-size: 0.8em;
}

.que .content {
	float: right;
	margin: 5px;
	width: 88%;
}

.que .qtext {
	margin-bottom: 1.5em;
}

.que .ablock {
	margin: 0.7em 0 0.3em 0;
}

.que .prompt {
	float: left;
	width: 15%;
	height: 2em;
	padding-top: 0.3em;
}

.que .control {
	width: 5%;
}

.que .answer {
	float: right;
	width: 83%;
	margin-bottom: 0.5em;
}

.que .submit {
	position: relative;
	clear: both;
	float: left;
}
/* MSIE Hack */

* html .que .submit {
	float: none;
}

.multianswer .submit {
	margin-top: 1em;
}

.que .c0,
.que .c1 {
	padding: 0.3em 0 0.3em 0.3em;
	vertical-align: top;
}

.que .feedback {
	clear: both;
	float: right;
	width: 83%;
	padding: 0 0 0.3em 0.3em;
	border: 1px solid;
}

.multichoice td.feedback {
	width: auto;
	vertical-align: top;
	padding-top: 0.3em;
	border-style: none;
}

.essay .feedback {
	border-style: none;
}

.multichoice .text {
	width: auto;
}

.calculated .answer,
.numerical .answer,
.shortanswer .answer,
.truefalse .answer {
	padding: 0.3em 0 0.3em 0.3em;
}

.calculated .answer input,
.numerical .answer input,
.shortanswer .answer input {
	width: 85%;
}

.truefalse .answer span {
	float: left;
	clear: left;
	padding: 0.2em 0;
}

.que .grading,
.que .comment,
.que .commentlink,
.que .generalfeedback,
.que .history {
	float: right;
	margin: 5px;
	width: 88%;
}

.que .no {
	font-size: 1.2em;
	font-weight: bold;
}

.que .history {
	font-size:75%;
}



.que {
   border-color: #DDD;
}

.que .r0 {
   background-color: #F5F5F5;
}

.que .r1 {
   background-color: #EEE;
}

.calculated .answer,
.numerical .answer,
.shortanswer .answer,
.truefalse .answer {
   background-color: #EEE;
}

.que .feedback {
	border-color: #DDD;
}    
.que.multianswer .incorrect {
   background-color: #faa;
}

.que.multianswer .partiallycorrect {
   background-color: #ff9;
}

.que.multianswer .correct {
   background-color: #afa;
}