/*
*	QUIZ STYLES
*/

#mod-quiz-attempt #page {
	text-align: center;
}

body#mod-quiz-report table#attempts,
body#mod-quiz-report table#commands,
body#mod-quiz-report table#itemanalysis {
	width: 80%;
	margin: auto;
}

body#mod-quiz-report table#attempts {
	margin: 20px auto;
}

body#mod-quiz-report table#attempts .header,
body#mod-quiz-report table#attempts .cell
{

 padding: 4px;
}

body#mod-quiz-report table#attempts .header .commands {
	display: inline;
}

body#mod-quiz-report table#attempts .picture {
	width: 40px;
}

body#mod-quiz-report table#attempts td {
	border-left-width: 1px;
	border-right-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	vertical-align: middle;
}

body#mod-quiz-report table#attempts .header {
	text-align: left;
}

body#mod-quiz-report table#attempts .picture {
	text-align: center !important;
}

body#mod-quiz-report .controls {
	text-align: center;
}

// .navbutton form {
// 	display: inline;
// }

.editorhelptext {
	font-size:0.7em;
}

#mod-quiz-index .cell {
	font-size:0.8em;
}

body#mod-quiz-report table#attempts td {
	border-color: #dddddd;
}

body#mod-quiz-report table#attempts .r1 {
	background-color: #eeeeee;
}
