/*
*	TAB STYLES
*/

.tabs {
	width: auto;
	margin-bottom: 15px;
	border-collapse: collapse;
}

.tabs td {
	padding: 0px;
}

.tabs .side {
	width: 50%;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.tabrow {
	border-collapse:collapse;
	width:100%;
	margin: 1px 0px 0px 0px;
}

.tabrow td {
	padding:0 0 0px 14px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.tabrow th {
	display:none;
}

.tabrow td .tablink {
	display:block;
	padding:10px 14px 4px 0px;
	text-align:center;
	white-space:nowrap;
	text-decoration:none;
}

.tabrow .last {
	display:block;
	padding:0px 1px 0px 0px;
}

.tabrow td.selected {
	border-width: 0px;
}

.tablink {
	font-size:0.8em;
}

.tablink a:hover {
	text-decoration: none;
}



.tablink a:link,
.tablink a:visited {
	color:#000066;
}

.selected .tablink a:link,
.selected .tablink a:visited {
	color:#000000;
}

.tabs .side,
.tabrow td {
	border-color: #AAAAAA;
}

.tabrow td {
	background:url(pix/tab/left.gif) top left no-repeat;
}

.tabrow td .tablink {
	background:url(pix/tab/right.gif) top right no-repeat;
}

.tabrow td:hover {
	background-image:url(pix/tab/left_hover.gif);
}

.tabrow td:hover .tablink {
	background-image:url(pix/tab/right_hover.gif);
}

.tabrow .last {
	background: transparent url(pix/tab/right_end.gif) top right no-repeat;
}

.tabrow .selected {
	background:url(pix/tab/left_active.gif) top left no-repeat;
}

.tabrow .selected .tablink {
	background:url(pix/tab/right_active.gif) top right no-repeat;
}

.tabrow td.selected:hover {
	background-image:url(pix/tab/left_active_hover.gif);
}

.tabrow td.selected:hover .tablink {
	background-image:url(pix/tab/right_active_hover.gif);
}